<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- 표준 로그 정보 -->
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel />
                <loggerName />
                <message />
                <threadName />
                <!-- 예외 정보 -->
                <stackTrace />
            </providers>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>